<!DOCTYPE html>
{% extends "garbage_app/base.html" %}

{% block body_block %}

    <div>
        <div class="row" style="padding: 30px;">
            <div class="col-sm-6" style="height: 600px;overflow-y: scroll">

                {% for post in post_list %}
                    <div class="row no-gutters"
                         style="margin: 20px;border-color: #0f0f0f;border-width: thin;border-style: double">
                        <div class="col-md-4">
                            {% if post.image %}
                                <img src="{{ post.image.url }}" class="card-img" height="100%" width="90%"
                                     style="padding: 10px"/>
                            {% endif %}
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h4 class="card-title">{{ post.title }}</h4>
                                <div class="card-text"><b>Description</b>: {{ post.Description }}</div>
                                <div class="card-text"><b>Area</b></div>
                                <div class="card-text"><b>Upvotes</b>: {{ post.vote_count }}</div>
                                <div class="card-text"><b>Current Status</b>: {{ post.status }}</div>
                                <div class="card-text text-muted">Date: {{ post.published_date }}</div>

                                {#                                {% if post.status == 'Waiting for Acknowledgement' %}#}
                                <label class="radio-inline"><input type="radio" name="optradio"
                                                                   checked>Acknowledged</label>
                                <label class="radio-inline"><input type="radio" name="optradio">In-Progress</label>
                                <label class="radio-inline"><input type="radio" name="optradio">Completed</label>
                                {#                                {% elif post.status == 'Acknowledged' %}#}
                                {#                                    <label class="radio-inline"><input type="radio" name="optradio">In-Progress</label>#}
                                {#                                    <label class="radio-inline"><input type="radio" name="optradio">Completed</label>#}
                                {#                                {% elif post.status == 'In-Progress' %}#}
                                {#                                    <label class="radio-inline"><input type="radio" name="optradio">Completed/label>#}
                                {#                                {% elif post.status == 'Completed' %}#}
                                {##}
                                {#                                {% endif %}#}

                                <a href="#" class="btn btn-success">Update</a>

                                <br>
                                <a href="#" class="btn btn-primary">View More</a>

                            </div>
                        </div>
                    </div>

                {% endfor %}
            </div>
            <div class="col-sm-6">

                <div id="map" style="height: 600px;width: 100%"></div>
                <script>
                    // Initialize and add the map

                    function initMap() {

                        var mumbai = {lat: 19.0760, lng: 72.8777};
                        // The map, centered at Uluru
                        var map = new google.maps.Map(
                            document.getElementById('map'), {zoom: 12, center: mumbai});
                        var latitude = [];
                        var longitude = [];

                        {% for post in post_list %}
                            latitude.push({{ post.latitude }})
                            longitude.push({{ post.longitude }})
                        {% endfor %}
                        console.log(latitude);
                        // The marker, positioned at Uluru
                        for (var i = 0; i < latitude.length; i++) {
                            
                            var marker = new google.maps.Marker({
                                position: {lat: latitude[i], lng: longitude[i]},
                                map: map
                            });
                        }
                    }
                </script>
                <script async defer
                        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDgkwQaRBEIIq-NZrOWaJV2HURffUcFEhs&callback=initMap">
                </script>
            </div>
        </div>
    </div>

{% endblock %}
